<a id="top"></a>
<h1>Component Lifecycle Hooks</h1>
<a routerLink="./peek-a-boo">Peek-a-boo: (most) lifecycle hooks</a><br>
<a routerLink="./on-changes">OnChanges</a><br>
<a routerLink="./do-check">DoCheck</a><br>
<a routerLink="./after-view">AfterViewInit & AfterViewChecked</a><br>
<a routerLink="./after-content">AfterContentInit & AfterContentChecked</a><br>
<a routerLink="./spy">Spy: directive with OnInit & OnDestroy</a><br>
<a routerLink="./counter">Counter: OnChanges + Spy directive</a><br>


<router-outlet></router-outlet>

<!-- <a id="hooks"></a>
<peek-a-boo-parent></peek-a-boo-parent>
<a href="#top">back to top</a>

<a id="spy"></a>
<spy-parent></spy-parent>
<a href="#top">back to top</a>

<a id="onchanges"></a>
<on-changes-parent></on-changes-parent>
<a href="#top">back to top</a>

<a id="docheck"></a>
<do-check-parent></do-check-parent>
<a href="#top">back to top</a>

<a id="after-view"></a>
<after-view-parent></after-view-parent>
<a href="#top">back to top</a>

<a id="after-content"></a>
<after-content-parent></after-content-parent>
<a href="#top">back to top</a>

<a id="counter"></a>
<counter-parent></counter-parent>
<a href="#top">back to top</a> -->
