<!-- 
<router-outlet></router-outlet>

<app-material-design-demo></app-material-design-demo> -->

<mat-toolbar color="primary">
   
  <mat-toolbar-row>
      <!-- <button class="hamburger mat-button" mat-button (click)="sidenav.toggle()" title="Docs menu" >
      <span class="mat-button-wrapper">
        <mat-icon class="mat-icon" role="img" svgicon="menu" aria-hidden="true">
          <svg focusable="false" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z">
            </path>
          </svg>
        </mat-icon>
      </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
      </button> -->
    <span>Angular Demos</span>
  
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
  
    <span>by Ahmad El-Agawy</span>
    <a class="docs-button docs-navbar-hide-small mat-button" href="https://github.com/aelagawy/angular-demos" mat-button target="_blank">
      <span class="mat-button-wrapper">
        <img _ngcontent-c1="" alt="angular" class="docs-angular-logo" src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg"> GitHub </span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="push" class="col-2">
      <mat-list>
          <a mat-list-item routerLink="/ng/click-me">Click Me !</a>
          <a mat-list-item routerLink="/ng/key-up-1">Key Up 1</a>
          <a mat-list-item routerLink="/ng/key-up-2">Key Up 2</a>
          <a mat-list-item routerLink="/ng/key-up-3">Key Up 3</a>
          <a mat-list-item routerLink="/ng/key-up-4">Key Up 4</a>
          <a mat-list-item routerLink="/ng/little-tour">Little Tour</a>
          <a mat-list-item routerLink="/ng/loop-back">loop-back</a>
      </mat-list>
  </mat-sidenav>


  <mat-sidenav-content>
          <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-3 col">
      <ul>
          <li><a routerLink="/ng/click-me">Click Me !</a></li>
          <li><a routerLink="/ng/key-up-1">Key Up 1</a></li>
          <li><a routerLink="/ng/key-up-2">Key Up 2</a></li>
          <li><a routerLink="/ng/key-up-3">Key Up 3</a></li>
          <li><a routerLink="/ng/key-up-4">Key Up 4</a></li>
          <li><a routerLink="/ng/little-tour">Little Tour</a></li>
          <li><a routerLink="/ng/loop-back">loop-back</a></li>
          <li><a routerLink="/ng/lifecycle-hooks">lifecycle-hooks</a></li>
          <li><a routerLink="/ng/component-interaction">component-interaction</a></li>
          <li><a routerLink="/ng/pop-up">pop-up</a></li>
          <li><a routerLink="/ng/ads">ads</a></li>
          <li><a routerLink="/ng/attribute-directives">attribute-directives</a></li>
          <li><a routerLink="/ng/structural-directives">structural-directives</a></li>
          <li><a routerLink="/ng/custom-pipes">custom-pipes</a></li>
          <li><a routerLink="/ng/reactive-forms">reactive-forms</a></li>
          <li><a routerLink="/ng/td-forms">td-forms</a></li>
          <li><a routerLink="/ng/form-validation">form-validation</a></li>
          <li><a routerLink="/ng/dynamic-forms">dynamic-forms</a></li>
        </ul>          
    </div>
    <div class="col-9 col">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>








